/out/
/resources/public/js/compiled/
/resources/public/css/main.css
/target/
/*-init.clj
/*.log

# Leiningen
/.lein-*
/.nrepl-port

# firebase
/.firebase
# generated code
functions/index.js

# Node.js dependencies
/node_modules/

# shadow-cljs cache, port files
/.shadow-cljs/

# clj-kondo cache
/.clj-kondo/.cache

# emacs
/.lsp/
